@media(max-width:1073px){
    .works .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .about .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width:768px){
    .header-content{
        gap: 10px;
    }
    .header-content a{
        max-width: 200px;
    }
    .burger{
        display: block;
    }
    .ul-1{
        position: fixed;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #000000d2;
        inset: 0;
        z-index: 999;
        transform: translateY(-100%);
    }
    .burger:hover ~ .ul-1{
        transform: translateY(0);
    } 
    .contact .container{
        flex-direction: column;
    }
    .about .container img{
        width: 100%;
    }
}